<form autocomplete="off" #f="ngForm" (ngSubmit)="onSubmit(f)">
  <div class="bloco mt-2">
    <div>
      <div class="row">
        <div class="col-sm-3">
          <h4 class="text-secondary">Plano de Contas</h4>
        </div>
        <div class="col-sm-9 btn-direita">
          <button type="button" class="btn btn-sm btn-secondary mr-1" routerLink='/centrodecusto'><span><i
                class="fas fa-undo-alt"></i> Cancelar</span></button>
          <button type="button" [disabled]="loader" class="btn btn-sm btn-primary" (click)="onSubmit(f)"><span *ngIf="loader"
              class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            <span *ngIf="loader" class="visually-hidden"> Salvando...</span><span *ngIf="loader == false"><i
                class="fas fa-save"></i> Salvar</span> </button></div>
      </div>
      <hr>
      <ul class="nav nav-tabs navtableespec" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="usuario-tab" data-toggle="tab" href="#usuario" role="tab"
            aria-controls="usuario" aria-selected="true">Plano de Contas</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="grupo-tab" data-toggle="tab" href="#grupo" role="tab" aria-controls="grupo"
            aria-selected="false">Contas</a>
        </li>
      </ul>

      <div class="tab-content mt-1" id="myTabContent">
        <div class="card tab-pane fade show active" id="usuario" role="tabpanel" aria-labelledby="usuario-tab">
          <div class="card-header bg-secundary">
            Plano de Contas
          </div>
          <div class="card-body">
            <div class='row'>
              <div class="col-12">
                <div class="row">
                  <div class=" form-group col-sm-2">
                    <label>Id</label>
                    <input  #id_planodecontas name="id_planodecontas" class="form-control form-control-sm"
                      type="number" disabled ngModel />
                  </div>
                  <div class=" col-sm-10 d-flex justify-content-end">
                    <div class="form-check">
                      <input class="form-check-input"   #do_inactive name="do_inactive"
                        type="checkbox" id="gridCheck">
                      <label class="form-check-label" for="gridCheck">
                        Inativo
                      </label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class=" form-group col-sm-4">
                    <label>Descrição</label>
                    <input   name="ds_descricao" #ds_descricao class="form-control form-control-sm" required
                      minlength="3" maxlength="100" type="text"  [disabled]="id_planodecontas.value != ''" />
                    <div class="diverror" *ngIf="false">
                      <label class="text-danger">*Campo de Descrição tem que ter uma descrição valida.</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class=" form-group col-sm-4">
                    <label>Digitos Chave</label>
                    <input id="digitokey" (keyup)="onKey($event)" minlength="1" type="text" name="digitos" #digitos class="form-control form-control-sm" required
                    [disabled]="id_planodecontas.value != ''"  />
                    <div class="diverror" *ngIf="errorkey">
                      <label class="text-danger">*Valor tem que ser maior que 1.</label>
                    </div>
                  </div>
                  <div class=" form-group col-sm-4">
                   <Button type="button" (click)="AddMack()" class="btn btn-sm btn-primary mt-4"><i class="fas fa-plus"></i></Button>
                  </div>
                </div>
                <p></p>
                <div class="row">
                 <table class="table table-sm">
                 <thead>
                  <tr>
                  <th scope="col">Nivel</th>
                  <th scope="col">Exemplo</th>
                  <th scope="col">Tipo</th>
                  </tr>
                 </thead>
                 <tbody>
                   <tr *ngFor="let item of array let i = index"  >
                     <td> {{item.nv}} </td>
                     <td> {{item.digitos}} </td>
                     <td> {{item.type}} </td>
                   </tr>
                 </tbody>
                 </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card tab-pane fade" id="grupo" role="tabpanel" aria-labelledby="grupo-tab">
          <div class="card-header bg-secundary">
            Contas
          </div>
          <div class="card-body">
            <div class='row'>
              <div  class="col-12">
               <div class=" col-sm-4">
                 <button  (click)="OpenModal($event)" id='0'  class="btn btn-sm btn-success"><i class="fas fa-plus"></i> Adicionar</button>
               </div>
               <p></p>
               <table class="table table-sm table-striped">
                 <thead>
                  <tr>
                    <th scope="col">Chave</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Tipo</th>
                    <th scope="col"></th>
                  </tr>
                 </thead>
                 <tbody>
                   <tr *ngFor="let item of this.arraycontas" >
                    <td>{{item.chaveconta}}</td>
                    <td>{{item.descconta}}</td>
                    <td>{{item.tipoconta}}</td>
                    <td>
                      <button type="button" class="btn btn-sm btn-danger mr-1" ngbTooltip="Deletar" id="{{item.chaveconta}}" name="{{item.id_conta}}" (click)="DeleteConta($event)" ><i class="fas fa-trash-alt"></i></button>
                    </td>
                   </tr>
                 </tbody>
               </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Conta</h5>
        <button type="button" style="color: white;" class="btn close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="formconta" #formconta="ngForm" >
      <div class="row col-12">
      <div class="form-group col-4">
        <label>Conta Pai</label>
        <input class="form-control form-control-sm" [(ngModel)]="conta.contapai" id="contapai" name="contapai" #contapai disabled="disabled"/>
      </div>
      <div class="form-group col-8">
        <label>Descrição conta pai</label>
        <input type="text"  disabled class="form-control form-control-sm" id="desccontapai"/>
      </div>
    </div>
      <div class="form-group col-12">
        <label>Tipo de conta</label>
        <input type="text" [(ngModel)]="conta.tipoconta" disabled class="form-control form-control-sm" id="tipoconta" name="tipoconta" #tipoconta   />
      </div>
        <div class="form-group col-12">
          <label>Chave da conta</label>
          <input type="text" [(ngModel)]="conta.chaveconta" class="form-control form-control-sm" autocomplete="off" maxlength="{{this.maskactive}}" id="chaveconta" name="chaveconta" (keyup)="apenasnumeros($event)"  #chaveconta required  />
        </div>
        <div class="form-group col-12">
          <label>Descrição</label>
          <input class="form-control form-control-sm" [(ngModel)]="conta.descconta" id="descconta" name="descconta" #descconta required  />
        </div>
      </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="btn-sairmodal" class="btn btn-sm btn-danger" data-dismiss="modal"><i class="fas fa-sign-out-alt"></i> Sair</button>
        <button type="button" class="btn btn-sm btn-primary" (click)="AddContas(formconta)" ><i class="fas fa-save"></i> Salvar</button>
      </div>
    </div>
  </div>
</div>



