<div class="modal fade left " id="sidebar-left" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm" role="document">
  <div class="modal-content">
    <nav class="navbar navbar-dark bg-secondary" >
      <a class="navbar-brand">{{sidebar}}</a>
     <button class="btn btn-secondary" data-toggle="modal" ngbTooltip="Esconder" data-target="#sidebar-left"> <span><i class="fas fa-angle-double-left"></i></span></button>
    </nav>
    <div class="row">
      <div class="col-12">
        <div class="list-group" id="list-tab" role="tablist">
          <div *ngFor="let  mod of modulos, let i = index" >
          <a id="id_modulo{{mod.id_modulo}}" (click)="SelectList('id_modulo'+mod.id_modulo);submenu[i]=!submenu[i]"
           class="list-group-item list-group-item-action" ><a style="position: absolute;">{{mod.ds_modulo}}</a>
            <span class="spanicon" ><i class="fas fa-angle-down"></i></span>
          </a>
          <app-submodulo  *ngIf="submenu[i]"   [submodulo] = mod.submodulos ></app-submodulo>
        </div>

        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
  <div class="modal" id="menuprincipal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modulos</h5>
          <button type="button" style="color: white;" class="btn close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <app-aplicativos></app-aplicativos>
        </div>

      </div>
    </div>
  </div>
    <nav class="navbar navbar-dark bg-secondary">
      <div class="row btn-group">
        &nbsp;
      <button href="#" *ngIf="toggled" id="btnsidebar" class=" text-light btn btn-sm btn-secondary"  ngbTooltip="Menu"
      data-toggle="modal" data-target="#sidebar-left"><span><i class="fas fa-bars"></i></span></button>
      &nbsp;<a class="navbar-brand ">SyS</a>
    </div>
      <div class="btn-group">
        <button  class="btn btn-sm  btn-secondary text-light" ngbTooltip="Menu Principal"  data-toggle="modal" data-target="#menuprincipal">
          <span ><i class="fas fa-grip-horizontal"></i></span>
        </button>
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span><i class="far fa-user"></i> </span> {{usuario}}
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item text-secondary" (click)="logout()" type="button"><i class="fas fa-sign-out-alt"></i> Logout</a>
          </div>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
