<div class="modal fade left " id="sidebar-left" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm" role="document">
  <div class="modal-content">
    <nav class="navbar navbar-dark bg-secondary" >
      <a class="navbar-brand">{{sidebar}}</a>
     <a href="#" data-toggle="modal" ngbTooltip="Esconder" data-target="#sidebar-left"> <span class="navbar-brand"  ><i class="fas fa-angle-double-left"></i></span></a>
    </nav>
    <div class="row">
      <div class="col-12">
        <div class="list-group" id="list-tab" role="tablist">
          <div *ngFor="let  mod of modulos, let i = index" >
          <a id="id_modulo{{mod.id_modulo}}" (click)="SelectList('id_modulo'+mod.id_modulo);submenu[i]=!submenu[i]" [ngValue]="false"
           class="list-group-item list-group-item-action" ><a style="position: absolute;">{{mod.ds_modulo}}</a>
            <span class="spanicon" ><i class="fas fa-angle-down"></i></span>
          </a>
          <app-submodulo  *ngIf="submenu[i]"   [submodulo] = mod.submodulos ></app-submodulo>
        </div>

        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
  <div class="modal" id="menuprincipal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modulos</h5>
          <button type="button" style="color: white;" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <app-aplicativos></app-aplicativos>
        </div>

      </div>
    </div>
  </div>
    <nav class="navbar navbar-dark bg-secondary">
      <div class="row btn-group">
        &nbsp;
      <btn href="#" *ngIf="toggled" style="font-size: 25px;" id="btnsidebar" class="text-light mr-1  ml-2"  ngbTooltip="Menu"
      data-toggle="modal" data-target="#sidebar-left"><span><i class="fas fa-bars"></i></span></btn>
      &nbsp;<a class="navbar-brand ">SyS</a>
    </div>
      <div class="btn-group">
        <a href="#"  class="nav-link text-light pointer" ngbTooltip="Menu Principal"  data-toggle="modal" data-target="#menuprincipal">
          <span ><i class="fas fa-grip-horizontal"></i></span>
        </a>
        <a href="#"  class=" nav-link text-light tremetreme ">

          <span><i class="far fa-user"></i> </span> <label class="ocultar ml-1">{{usuario}}</label>
        </a>
      </div>
    </nav>

    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
