<div class="row">
  <div class="col-12">
    <div class="row">
    <div class="  col-12 col-sm-2">
    <select class="form-control form-control-sm" [(ngModel)]=RowsSelected (change)="EventoRows()">
      <option *ngFor="let Rows of Rows" [ngValue]=Rows >{{Rows}} por página</option>
    </select>
  </div>
  </div>
</div>
<div class="col-12 mt-3">
<table  class=" table table-sm  table-striped table-hover">
  <thead class="bg-secondary text-white">
    <tr>
      <th *ngFor="let header of HeaderTable">{{header}}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="Table.length == 0" ><td align="center" colSpan="20"><b>Nenhum Resultado Encontrado</b></td></tr>
    <tr *ngFor="let Table  of Table; let i = index" >
     <td *ngFor="let dados of HeaderData; let idx = index">{{Table[idx]}}</td>
     <td class="direita" ><span class="btn btn-primary btn-sm" ngbTooltip="Editar" (click)="EnventoEditar(this.Table)"><i class="fas fa-pen"></i></span>
     <span class="btn btn-danger ml-1 btn-sm"  ngbTooltip="Excluir" (click)="EnventoExcluir(this.Table)"><i class="fas fa-trash"></i></span></td>
    </tr>
  </tbody>
</table>
</div>
<div class="row col-12" >
  <div class="col-6">
    <ul class="pagination pagination-sm" *ngIf="paginas.length > 0" >
      <li class="page-item" [ngClass]="{'disabled': PaginaAtiva == 1}" (click)="Mudarpagina( PaginaAtiva - 1)" ><a class="page-link" >Anterior</a></li>
      <li *ngFor="let paginas of paginas;let i = index"  [ngClass]="{'active':PaginaAtiva == i+pagination}"   class="page-item"
      (click)="Mudarpagina(i + pagination)"><a class="page-link" >{{i + pagination}}</a></li>
      <li class="page-item"  [ngClass]="{'disabled': UltimaPagina == PaginaAtiva }" (click)="Mudarpagina( PaginaAtiva + 1)"><a class="page-link" >Próxima</a></li>
    </ul>
  </div>
<div align="right" class="col-6"><label>Mostrando {{views}} de {{total}} Registros</label></div>
</div>
</div>
