<form autocomplete="off" #f="ngForm" (ngSubmit)="onSubmit(f)">
  <div class="bloco mt-2">
    <div>
      <div class="row">
        <div class="col-sm-3">
          <h4 class="text-secondary">Grupo Usuario</h4>
        </div>
        <div class="col-sm-9 btn-direita">
          <button type="button" class="btn btn-sm btn-secondary mr-1" routerLink='/grupo'><span><i
                class="fas fa-undo-alt"></i> Cancelar</span></button>
          <button type="submit" [disabled]="loaduser" class="btn btn-sm btn-primary"><span *ngIf="loaduser"
              class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            <span *ngIf="loaduser" class="visually-hidden"> Salvando...</span><span *ngIf="loaduser == false"><i
                class="fas fa-save"></i> Salvar</span> </button></div>
      </div>
      <hr>
      <ul class="nav nav-tabs navtableespec" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="usuario-tab" data-toggle="tab" href="#usuario" role="tab"
            aria-controls="usuario" aria-selected="true">Grupo</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="grupo-tab" data-toggle="tab" href="#grupo" role="tab" aria-controls="grupo"
            aria-selected="false">Acesso e Permições </a>
        </li>
      </ul>

      <div class="tab-content mt-1" id="myTabContent">
        <div class="card tab-pane fade show active" id="usuario" role="tabpanel" aria-labelledby="usuario-tab">
          <div class="card-header bg-secundary">
            Cadastrar usuário
          </div>
          <div class="card-body">
            <div class='row'>
              <div class="col-12">
                <div class="row">
                  <div class=" form-group col-sm-2">
                    <label>Id</label>
                    <input [(ngModel)]="_crm_grupousuario.id_grupousuario" #id_grupousuario="ngModel" name="id_grupousuario" class="form-control form-control-sm"
                      type="number" disabled />
                  </div>
                  <div class=" col-sm-10 d-flex justify-content-end">
                    <div class="form-check">
                      <input class="form-check-input" [(ngModel)]="_crm_grupousuario.do_inactive"  #do_inactive="ngModel" name="do_inactive"
                        type="checkbox" id="gridCheck">
                      <label class="form-check-label" for="gridCheck">
                        Inativo
                      </label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class=" form-group col-sm-4">
                    <label>Descrição</label>
                    <input  name="ds_grupousuario" #ds_grupousuario="ngModel" [(ngModel)]="_crm_grupousuario.ds_grupousuario" class="form-control form-control-sm" required
                      minlength="3" maxlength="200" type="text"  />
                    <div class="diverror" *ngIf="ds_grupousuario.invalid && (ds_grupousuario.dirty || ds_grupousuario.touched)">
                      <label class="text-danger">*Campo de Descrição tem que ter uma descrição valida.</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card tab-pane fade" id="grupo" role="tabpanel" aria-labelledby="grupo-tab">
          <div class="card-header bg-secundary">
            Grupo de usuário
          </div>
          <div class="card-body">
            <div class='row'>
              <div  class="col-12">
                <div class="row">
                   <div class="form-group col-sm-3">
                   <label>Modulo</label>
                   <select
                    class="form-control form-control-sm" id="grupousuario">
                    <option value = 0> Nenhuma opção selecionada</option>
                    <option *ngFor="let app of Modulos" value="{{app.id_aplicativo}}"  >{{app.ds_app}}</option>
                   </select>
                </div>
                <div class="col-sm-3">
                  <button class="btn btn-sm btn-success" type="button" (click)="PopulaModeloModulos()"
                  style="margin-top: 23px"><i class="fas fa-plus" ></i> Vincular</button>
                </div>
                  </div>
                <p></p>
                  <div>
                </div>
                <table *ngFor="let item of Submodulos, let i = index"  class="table border">
                  <thead class=" bg-secondary text-white">
                    <tr>
                      <th colSpan="2" >{{item.ds_modulo}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item2 of Submodulos[i].submodulos" >
                      <td style="width: 250px;">{{item2.ds_nome}}</td>
                      <td>
                        <div class="form-check">
                        <input class="form-check-input"
                          type="checkbox" id="gridCheck">
                        <label class="form-check-label" for="gridCheck">
                          Permitir
                        </label>
                      </div></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>



